################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/MyBlog/FileContentIndex/2ec61211-cba1-42cd-b457-765c887bb529.vsidx
/.vs/MyBlog/FileContentIndex/d4f125f3-ef69-4b66-ad42-b26f2aa3b177.vsidx
